APP_NAME=imtihan
APP_ENV=local
APP_KEY=base64:eRnWaRE112ymJI/ph28XRub+PskFJbMeMu/M0hd92ps=
APP_DEBUG=true
APP_URL=http:///192.168.1.124
FRONTEND_URL=http://192.168.1.124:3000
ADMIN_FRONTEND_URL=http://192.168.1.124:3000

SESSION_DOMAIN=192.168.1.124
SANCTUM_STATEFUL_DOMAINS=192.168.1.124:3000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

SAIL_XDEBUG_MODE=develop,debug,coverage

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=testing
DB_USERNAME=sail
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=minio
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=azure

MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=no-reply@imtihan.tech
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@imtihan.tech
MAIL_FROM_NAME="${APP_NAME}"

AZURE_MAIL_ENDPOINT=https://imtihan-iletisim-hizmetleri.germany.communication.azure.com
AZURE_MAIL_KEY=a99kSuVM4/jZZZGXx4Q/4mbPYvuMg9koFw+naSq4f1QWW98+zTne6BI7Wft74SUPZ5a/mh7Hq2nqlKEVzbiEpg==

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

MINIO_ENDPOINT=http://minio:9000
MINIO_URL=http://localhost:8900
MINIO_KEY=sail
MINIO_SECRET=password
MINIO_REGION=us-east-1
MINIO_BUCKET=imtihan

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_KEY=masterKey
SCOUT_QUEUE=true

OCTANE_SERVER=swoole

SENTRY_LARAVEL_DSN=
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_PROFILES_SAMPLE_RATE=1.0

DUSK_DRIVER_URL=http://selenium:4444/wd/hub
