/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/tests/reports
/vendor
.env
.env.*
!.env.example
!.env.dusk.local.example
.phpunit.result.cache
.phpunit.cache
.phpstan.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp
*~

# Laravel IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Docker
docker-compose.override.yml
